.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: var(--shadow-soft);
}

.modal {
  margin-top: 5rem;
  width: 98%;
  min-height: 250px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mint-gray);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 50px var(--slate-600);
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--mint);
  padding: 1rem 0;
}

.btn {
  font-size: 24px;
  cursor: pointer;
  color: #ff6b6b;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
  color: #ff4c4c;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modalContent div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.modalContent div input {
  flex: 1;
  padding: 10px;
  background-color: var(--mint-lighter);
  border: none;
  outline: none;
  border-radius: 8px;
}

.modalContent button {
  margin-top: 2rem;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--mint-lighter);
  color: var(--mint-dark);
  font-size: 18px;
}

.modalContent button:hover {
  background-color: var(--mint-light);
  cursor: pointer;
}

.alert {
  color: #ee5353;
  font-weight: bold;
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}

.error {
  color: #ec1515;
  font-size: 14px;
}

@media (min-width: 768px) {
  .modal {
    max-width: 30rem;
  }
}
