.contacts{
    display: flex;
    flex-direction: column;
   
    gap: 1rem;
    margin-top: 2rem;
    border: 1px solid rgb(209, 200, 200);
    padding: 1rem;
    border-radius: 8px;
}

.contact{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 236, 236);
    padding: 10px;
    border-radius: 5px;
font-size: 12px;
}
.contactPhone,
.contactEmail{
    direction: ltr;
    display: flex;
    align-items: center;
    gap: 15px;
   
}
.contactPhone{
    display: none;
}

.contact div{
    display: flex;
    align-items: center;
    gap: 1rem;
  

}

.btn{
   
    background-color: #fff;
    padding: 8px;
    font-size: 32px;
    border-radius: 50%;
    cursor: pointer;
   
}

@media screen and (min-width:480px) {
    .contact{
        font-size: 16px;
    }
    
}

@media screen and (min-width:768px) {
    .contactPhone{
        display:inline-flex;
    }
    
}