.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: var(--shadow-soft);
}

.modal {
  margin-top: 5rem;
  width: 95%;
  min-height: 200px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mint-gray);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 50px var(--slate-600);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--mint);
  padding: 1rem 0;
}

.btn {
  font-size: 24px;
  cursor: pointer;
  color: #ff6b6b;
  transition: all 0.2s ease;
}

.controls {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.controls button {
  flex: 1;
  padding: 5px 0;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--mint-lighter);
  color: var(--mint-dark);
  font-size: 18px;
}

.controls button:hover {
  background-color: var(--mint-light);
}

.btn:hover {
  transform: translateY(-2px);
  color: #ff4c4c;
}

@media (min-width: 480px) {
  .modal {
    max-width: 30rem;
  }
}
