.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 30px;
border-bottom: 1px solid black;
}

.search{
    
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
}
.search input{
    width: 100%;
    padding: 5px;
}
.controls{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.controls .btn{
    border: none;
    background-color:transparent;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .container{
        flex-direction: row;
    }
    .search{
        flex-direction: row;
    }
    .search input{
        width: 70%;
    }

}

