.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: rgba(63, 69, 76, 0.8);
  }

  .modal {
    width: 98%;
    min-height: 250px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 50px var(--slate-600);
  }

  .modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    padding: 1rem;
  }

  .btn{
    font-size: 24px;
    cursor: pointer;
    color: red;
  }

  .modalContent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .modalContent div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    gap: 10px;
  }
  .modalContent div input{
    flex: 1;
    padding: 5px;
  }

  .modalContent button{
    margin-top: 1rem;
    padding: 5px;
  }

  @media (min-width: 768px) {
    .modal {
      max-width: 30rem;
    }
  }